##
# Configure with your own values
#
# Remember to drop & install again your site if you change
# these values!
##

## Jmeter ##################################################

# Jmeter directory (/bin/jmeter will be added by testrunner.sh).
jmeter_path=/opt/apache-jmeter-2.9

