#########################################
# Configure with your own values
#########################################

## Jmeter ##################################################

# Jmeter directory (/bin/jmeter will be added by test_runner.sh).
jmeter_path=/opt/apache-jmeter-2.9
