###############################################
# Configure with your own values.
# 
# Remember to run ./before_run_setup.sh after changing
# any of those values as everything would change and
# previous runs would neither be valid.
###############################################


## Site info #################################################

# All Moodle db types supported, but only 'pgsql' and 'mysqli' auto backup/restore, manual backup/restore required for other drivers, more info in before_run_setup.sh and after_run_setup.sh.
dbtype="pgsql"
dbhost="localhost"
dbname="moodleperformancecomparison"
# The user should have permissions to create and drop databases.
dbuser="postgres"
dbpass="yourpassword"
dbprefix="mdl_"
# As explained in README.md these tools are intended to be used in internal networks.
wwwroot="http://yourwebserver/path/to/moodle-performance-comparison/moodle"
dataroot="/your/dataroot/directory"
toolgeneratorpassword="moodlerules"


## Repository and test branches information ##################

# The moodle repository where the branches are located.
repository="git://github.com/moodle/moodle.git"

# The base where both before and after branches will be updated.
# This is necessary in case there are changes in
# the generators codebase between before and after, we would not
# be able to compare results as the test plan generator or the
# generated data would change, so this setting will always be
# pointing to a minor or major release hash.
#
# You don't need to change this value
# This is Moodle 2.5.2+ version 2013051402.08
basecommit="1115bb378056e11d632178124fe34f257d933afa"
# Older bases in the branch will be listed here.
# Example:
# This is Moodle 2.5.x version NNNNNNNNN.00
# basecommit="this_is_an_example_of_how_we_will_show_previous_base_commits_of_this_branch"

# The original branch.
# Usually one of Moodle's weekly released branches. You can also use a git hash here.
beforebranch="MOODLE_25_STABLE"

# The branch to compare against.
# Usually your development branch or the same $beforebranch value if
# you are comparing different settings configurations. You can also use a git hash here.
afterbranch="master"


## Others ####################################################

# The database and dataroot backups will be stored here.
# Note that this can grow a lot depending on the test sizes you use.
backupsdir="/your/directory/with/a/lot/of/free/space"

# Services names to restart before each run. 
# Note that this will only work in a limited set of systems as it uses system calls like "service $servicename restart"
# You will need to restart the involved services manually.
#
# Default value set in defaults.properties
#
#servicesarray=( apache2 mysql postgresql )

# Path or alias of the browser you want to open the results with.
# This setting is only useful when running compare.sh script.
#
# Default value set in defaults.properties
#
#browser="firefox"

# Allows you to overwrite the default commands.
# Useful if you have multiple instances, if your
# commands are not in $PATH...
#
# Default values set in defaults.properties
#
#export phpcmd='php'
#export mysqlcmd='mysql'
#export pgsqlcmd='psql'
#export mysqldumpcmd='mysqldump'
#export pgsqldumpcmd='pg_dump'
#export gitcmd='git'
#export curlcmd='curl'
