###############################################
# Configure with your own values.
# 
# Remember to run ./before_run_setup.sh after changing
# any of those values as everything would change and
# previous runs would neither be valid.
###############################################


## Site info #################################################

# All Moodle db types supported, but only 'pgsql' and 'mysqli' auto backup/restore, manual backup/restore required for other drivers, more info in before_run_setup.sh and after_run_setup.sh.
dbtype="pgsql"
dbhost="localhost"
dbname="moodleperformancecomparison"
# The user should have permissions to create and drop databases.
dbuser="postgres"
dbpass="yourpassword"
dbprefix="mdl_"
# As explained in README.md these tools are intended to be used in internal networks.
wwwroot="http://yourwebserver/path/to/moodle-performance-comparison/moodle"
dataroot="/your/dataroot/directory"
toolgeneratorpassword="moodlerules"


## Repository and test branches information ##################

# The moodle repository where the branches are located.
repository="git://github.com/YOURUSER/moodle.git"

# The base where both before and after branches will be updated.
# This is necessary in case there are changes in
# the generators codebase between before and after, we would not
# be able to compare results as the test plan generator or the
# generated data would change, so this setting will always be
# pointing to a minor or major release hash.
#
# You don't need to change this value
# This is Moodle 2.6dev version 2013091300.00
basecommit="83f26f640738a3e4de89d1765c66e4ceeb8503a8"
# Older bases in the branch
# This is Moodle X.X.X+ version NNNNNNNNNN.NN
# basecommit="this_is_an_example_of_how_we_will_show_previous_base_commits_of_this_branch"

# The original branch.
# Usually one of Moodle's weekly released branches. You can also use a git hash here.
beforebranch="master"

# The branch to compare against.
# Usually your development branch or the same $beforebranch value if
# you are comparing different settings configurations. You can also use a git hash here.
afterbranch="master"


## Others ####################################################

# The database and dataroot backups will be stored here.
# Note that this can grow a lot depending on the test sizes you use.
backupsdir="/your/directory/with/a/lot/of/free/space"

# Services names to restart before each run. 
# Note that this will only work in a limited set of systems as it uses system calls like "service $servicename restart"
# You will need to restart the involved services manually.
servicesarray=( apache2 mysql postgresql )
