body {
    font-family: 'Arial';
    font-size: 14px;
    margin: 20px;
}

table {
    border-style: solid;
}

h2 {
    text-align: center;
}

.section {
    margin-top: 30px;
}

.switchtool {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 22px;
}

table.container {
    margin: 0 auto;
}
